*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
build
.build
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.DS_Store
Pods

soe/bat/*
soe/obj/*
soe/bin/*
soe/air/*
soe/AIR_readme.txt

Carthage/*

.idea/
.vscode/
.swiftpm/

HaishinKit.xcodeproj/project.xcworkspace/xcuserdata/shogo.xcuserdatad/WorkspaceSettings.xcsettings
*.xcsettings
docs/undocumented.json
fastlane/report.xml
docs/docsets/HaishinKit.docset/Contents/Resources/Documents/undocumented.json
Vendor/SRT/OpenSSL/
Vendor/SRT/srt/
