*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
build
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.DS_Store
Pods

soe/bat/*
soe/obj/*
soe/bin/*
soe/air/*
soe/AIR_readme.txt

build/lf.build/Release-iphoneos/lf.build/dgph

Cartfile.resolved
Carthage/*

Package.resolved
HaishinKit.xcodeproj/project.xcworkspace/xcuserdata/shogo.xcuserdatad/WorkspaceSettings.xcsettings
*.xcsettings
docs/undocumented.json
fastlane/report.xml
